In [38]:
print("YA ALLAH")

YA ALLAH

In [39]:
import os

In [40]:
print(os.getcwd())

c:\Users\Mohammad\Documents\VS Code

In [41]:
dir_list = os.listdir("Fit")
dir_list[-1]

'2021-09-27T10_00_00+03_30_SLEEP.json'

In [42]:
dirsleeplist = [i for i in dir_list if "SLEEP.json" in i]
len(dirsleeplist), dirsleeplist[0], dirsleeplist[-1]

(237,
 '2020-12-09T00_30_00+03_30_SLEEP.json',
 '2021-09-27T10_00_00+03_30_SLEEP.json')

In [43]:
import datetime

In [44]:
t330 = datetime.timedelta(seconds=3*60*60 + 30*60)
t430 = datetime.timedelta(seconds=4*60*60 + 30*60)
t330, t430

(datetime.timedelta(seconds=12600), datetime.timedelta(seconds=16200))

In [45]:
for i, di in enumerate(dirsleeplist):
    if "2021-03-21" in di:
        n = i
print(n)

109

In [46]:
dirsleeplist[n], dirsleeplist[n+1]

('2021-03-21T00_30_00+03_30_SLEEP.json',
 '2021-03-22T04_30_00+04_30_SLEEP.json')

In [47]:
import pandas as pd

In [48]:
dfn1 = pd.read_json("Fit\\" + dirsleeplist[n])
dfn2 = pd.read_json("Fit\\" + dirsleeplist[n+1])
dfn1

,fitnessActivity,startTime,endTime,duration,aggregate
0,sleep,2021-03-20T21:00:00Z,2021-03-21T06:40:00Z,34800s,"{'metricName': 'com.google.calories.expended',..."

In [49]:
def whichIndex(dffn1):
    q = dfn1.to_dict()["aggregate"]
    for i in q:
        if q[i]["metricName"] == "com.google.calories.expended":
            return i
    return 0
whichIndex(dfn1)

0

In [50]:
dfn2

,fitnessActivity,startTime,endTime,duration,aggregate
0,sleep,2021-03-22T00:00:00Z,2021-03-22T09:20:00Z,33600s,"{'metricName': 'com.google.calories.expended',..."
1,sleep,2021-03-22T00:00:00Z,2021-03-22T09:20:00Z,33600s,"{'metricName': 'com.google.step_count.delta', ..."
2,sleep,2021-03-22T00:00:00Z,2021-03-22T09:20:00Z,33600s,"{'metricName': 'com.google.distance.delta', 'f..."
3,sleep,2021-03-22T00:00:00Z,2021-03-22T09:20:00Z,33600s,"{'metricName': 'com.google.active_minutes', 'i..."

In [51]:
dirsleeplist[-7]

'2021-09-21T23_00_00+04_30_SLEEP.json'

In [52]:
df109 = pd.read_json("Fit\\" + dirsleeplist[109])
df109["startTime"][0], df109["endTime"][0]

('2021-03-20T21:00:00Z', '2021-03-21T06:40:00Z')

In [53]:
def createDict(ddff):
    start_time = datetime.datetime.fromisoformat(ddff["startTime"][whichIndex(ddff)].replace("Z", ""))
    end_time = datetime.datetime.fromisoformat(ddff["endTime"][whichIndex(ddff)].replace("Z", ""))

    if datetime.datetime(start_time.year, 3, 21) <= start_time < datetime.datetime(start_time.year, 9, 22):
        start_time += t430
    else:
        start_time += t330
    if datetime.datetime(end_time.year, 3, 21) <= end_time < datetime.datetime(end_time.year, 9, 22):
        end_time += t430
    else:
        end_time += t330

    delta = end_time - start_time
    df7_dict = {
        "startDate": start_time.strftime("%Y-%m-%d"),
        "startTime": start_time.strftime("%H:%M"),
        "endDate": end_time.strftime("%Y-%m-%d"),
        "endTime": end_time.strftime("%H:%M"),
        "sleepTime": str(delta),
        "sleepSeconds": delta.seconds
    }
    return df7_dict

df109_dict = createDict(df109)
df109_dict

{'startDate': '2021-03-21',
 'startTime': '00:30',
 'endDate': '2021-03-21',
 'endTime': '11:10',
 'sleepTime': '10:40:00',
 'sleepSeconds': 38400}

In [54]:
data = pd.DataFrame(df109_dict, index=[0])
data

    startDate startTime     endDate endTime sleepTime  sleepSeconds
0  2021-03-21     00:30  2021-03-21   11:10  10:40:00         38400

In [55]:
for i in range(110, 231):
    try:
        dff = pd.read_json("Fit\\" + dirsleeplist[i])
    except:
        dff = pd.DataFrame([pd.read_json("Fit\\" + dirsleeplist[i], typ="series")])
    di = createDict(dff)
    new_data = pd.DataFrame(di, index=[0])
    data = data.append(new_data).reset_index(drop=True)
data

      startDate startTime     endDate endTime sleepTime  sleepSeconds
0    2021-03-21     00:30  2021-03-21   11:10  10:40:00         38400
1    2021-03-22     04:30  2021-03-22   13:50   9:20:00         33600
2    2021-03-30     05:10  2021-03-30   10:50   5:40:00         20400
3    2021-04-01     04:10  2021-04-01   11:20   7:10:00         25800
4    2021-04-02     04:40  2021-04-02   12:50   8:10:00         29400
..          ...       ...         ...     ...       ...           ...
117  2021-09-18     02:10  2021-09-18   08:40   6:30:00         23400
118  2021-09-19     06:10  2021-09-19   11:10   5:00:00         18000
119  2021-09-20     00:50  2021-09-20   03:40   2:50:00         10200
120  2021-09-21     05:00  2021-09-21   15:00  10:00:00         36000
121  2021-09-21     23:00  2021-09-22   03:30   4:30:00         16200

[122 rows x 6 columns]

In [56]:
data.to_csv("March 21 - Sep 21.csv", index=False)

In [57]:
df0 = pd.read_json("Fit\\" + dirsleeplist[0])
df0["startTime"][0], df0["endTime"][0]

('2020-12-08T21:00:00Z', '2020-12-08T23:30:00Z')

In [58]:
df0_dict = createDict(df0)
df0_dict

{'startDate': '2020-12-09',
 'startTime': '00:30',
 'endDate': '2020-12-09',
 'endTime': '03:00',
 'sleepTime': '2:30:00',
 'sleepSeconds': 9000}

In [59]:
alldata = pd.DataFrame(df0_dict, index=[0])
alldata

    startDate startTime     endDate endTime sleepTime  sleepSeconds
0  2020-12-09     00:30  2020-12-09   03:00   2:30:00          9000

In [60]:
for dirr in dirsleeplist[1:]:
    try:
        dff = pd.read_json("Fit\\" + dirr)
    except:
        dff = pd.DataFrame([pd.read_json("Fit\\" + dirr, typ="series")])
    di = createDict(dff)
    new_data = pd.DataFrame(di, index=[0])
    alldata = alldata.append(new_data).reset_index(drop=True)
alldata

      startDate startTime     endDate endTime sleepTime  sleepSeconds
0    2020-12-09     00:30  2020-12-09   03:00   2:30:00          9000
1    2020-12-09     00:30  2020-12-09   03:00   2:30:00          9000
2    2020-12-10     21:30  2020-12-11   06:40   9:10:00         33000
3    2020-12-11     16:30  2020-12-11   20:00   3:30:00         12600
4    2020-12-12     02:00  2020-12-12   03:50   1:50:00          6600
..          ...       ...         ...     ...       ...           ...
233  2021-09-24     07:30  2021-09-24   16:30   9:00:00         32400
234  2021-09-25     00:23  2021-09-25   03:37   3:14:00         11640
235  2021-09-26     05:10  2021-09-26   11:20   6:10:00         22200
236  2021-09-27     06:50  2021-09-27   09:30   2:40:00          9600
237  2021-09-27     10:00  2021-09-27   17:00   7:00:00         25200

[238 rows x 6 columns]

In [61]:
alldata.to_csv("All Data.csv", index=False)

In [94]:
alldata.iloc[:232].to_csv("googlefitsleep.csv", index=False)

In [106]:
oldData = pd.read_csv("googlefitsleep.csv")
oldData

      startDate startTime     endDate endTime sleepTime  sleepSeconds
1    2020-12-09     00:30  2020-12-09   03:00   2:30:00          9000
2    2020-12-10     21:30  2020-12-11   06:40   9:10:00         33000
3    2020-12-11     16:30  2020-12-11   20:00   3:30:00         12600
4    2020-12-12     02:00  2020-12-12   03:50   1:50:00          6600
5    2020-12-12     15:00  2020-12-12   18:15   3:15:00         11700
..          ...       ...         ...     ...       ...           ...
227  2021-09-18     02:10  2021-09-18   08:40   6:30:00         23400
228  2021-09-19     06:10  2021-09-19   11:10   5:00:00         18000
229  2021-09-20     00:50  2021-09-20   03:40   2:50:00         10200
230  2021-09-21     05:00  2021-09-21   15:00  10:00:00         36000
231  2021-09-21     23:00  2021-09-22   03:30   4:30:00         16200

[231 rows x 6 columns]

In [107]:
newData = pd.read_csv("sleep_data.csv")
newData

     startDate startTime     endDate endTime sleepTime  sleepSeconds
0   2021-09-23     00:00  2021-09-23   03:37   3:37:00         13020
1   2021-09-23     15:00  2021-09-23   18:07   3:07:00         11220
2   2021-09-24     07:30  2021-09-24   16:30   9:00:00         32400
3   2021-09-25     00:23  2021-09-25   03:37   3:14:00         11640
4   2021-09-25     16:30  2021-09-25   18:30   2:00:00          7200
5   2021-09-26     05:10  2021-09-26   11:20   6:10:00         22200
6   2021-09-27     06:50  2021-09-27   09:30   2:40:00          9600
7   2021-09-27     10:00  2021-09-27   17:00   7:00:00         25200
8   2021-09-28     08:10  2021-09-28   13:10   5:00:00         18000
9   2021-09-29     00:00  2021-09-29   02:28   2:28:00          8880
10  2021-09-29     13:00  2021-09-29   17:00   4:00:00         14400
11  2021-09-30     00:00  2021-09-30   03:37   3:37:00         13020
12  2021-09-30     11:30  2021-09-30   16:30   5:00:00         18000

In [108]:
allData = oldData.append(newData).reset_index(drop=True)
allData

      startDate startTime     endDate endTime sleepTime  sleepSeconds
0    2020-12-09     00:30  2020-12-09   03:00   2:30:00          9000
1    2020-12-10     21:30  2020-12-11   06:40   9:10:00         33000
2    2020-12-11     16:30  2020-12-11   20:00   3:30:00         12600
3    2020-12-12     02:00  2020-12-12   03:50   1:50:00          6600
4    2020-12-12     15:00  2020-12-12   18:15   3:15:00         11700
..          ...       ...         ...     ...       ...           ...
239  2021-09-28     08:10  2021-09-28   13:10   5:00:00         18000
240  2021-09-29     00:00  2021-09-29   02:28   2:28:00          8880
241  2021-09-29     13:00  2021-09-29   17:00   4:00:00         14400
242  2021-09-30     00:00  2021-09-30   03:37   3:37:00         13020
243  2021-09-30     11:30  2021-09-30   16:30   5:00:00         18000

[244 rows x 6 columns]

In [109]:
allData.to_csv("All Sleep Data.csv", index=False)